# Mengabaikan file log
*.log

# Mengabaikan folder
node_modules/

# Mengabaikan file konfigurasi lokal
.env

# Mengabaikan folder build/output
dist/
build/

# Mengabaikan file system
.DS_Store
Thumbs.db
